* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, lightblue);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem
}

img {
    width: 50px;
    height: 50px;
}

.container h1 {
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: 600;
}

.container h1 img {

    width: 50px;
    border-radius: 60%;
    border: 3px solid whitesmoke;
    padding: 3px;

}

.container button {
    display: flex;
    align-items: center;
    background: linear-gradient();
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 50px;
    padding: 8px 15px;
    margin: 30px 0 20px;
    cursor: pointer;
}

.input-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 4px;

}

.input-box img {
    position: absolute;
    width: 30px;
    height: 35px;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
}